<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Maxim Snoeys R0792870-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
    <title>Nieuw Personeelslid</title>
</head>
<body>
    <h1>Supermarkt Personeel Registratie</h1>
    <div>
        <form action="4_personeelsdata">
            <div class="form-group">
                <label for="voornaam" class="col-1">Voornaam:</label>
                <input type="text" id="voornaam" name="voornaam" placeholder="Uw Voornaam" class="col-2">
            </div>
            <div class="form-group">
                <label for="achternaam" class="col-1">Achternaam:</label>
                <input type="text" id="achternaam" name="achternaam" placeholder="Uw Achternaam" class="col-2">
            </div>
            <div class="form-group">
                <label for="indienstsinds" class="col-1">In dienst sinds <br>(dd/MM/yyyy):</label>
                <input type="date" id="indienstsinds" name="indienstsinds" placeholder="31/12/2000" class="col-2">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Registreer personeelslid</button>
            </div>
            <p><a href="/">Terug naar beginpagina</a></p>
        </form>
    </div>
</body>
</html>