<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Maxim Snoeys R0792870-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
    <title>Klantregistratie</title>
</head>
<body>
<h1>Supermarkt Klant Alle</h1>
<div>
    <ol>
        <li th:each="klant: ${klanten}">
            <span th:text="${klant.getVoornaam()} + ' ' + ${klant.getFamilienaam()} "></span>
            <ul>
                <li th:text="${klant.getGeboortejaar()}"></li>
                <li th:text="${klant.getKlantenkaartnr()}"></li>
                <ul>
                    <li th:each="item: ${klant.getBoodschappenlijst()}" th:text="${item}"></li>
                </ul>
            </ul>
        </li>
    </ol>
</div>
<p><a href="/">Terug naar beginpagina</a></p>
</body>
</html>