<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--Maxim Snoeys R0792870-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="img/style.css"/>
    <title>Registratie</title>
</head>
<body>
    <h1>Registratie bij os Maximeke</h1>
    <div class="container">
        <div class="row">
            <p class="col-12 col-sm-6"><a href="1_nieuweklant">Nieuwe Klant</a></p>
            <p class="col-12 col-sm-6"><a href="3_nieuwpersoneel">Nieuw Personeelslid</a></p>
            <p class="col-12 col-sm-6"><a href="7_nieuwesupermarkt">Nieuwe Supermarkt</a></p>
            <p class="col-12 col-sm-6"><a href="9_nieuweafdeling">Nieuwe Afdeling</a></p>
        </div>
        <div class="row">
            <p class="col-12 col-sm-6"><a href="5_personeelalle">Alle Personeelsleden</a></p>
            <p class="col-12 col-sm-6"><a href="6_alleklanten">Alle klanten</a></p>
            <p class="col-12 col-sm-6"><a href="8_overzichtsupermarkt">Overzicht Supermarkt</a></p>
            <form class="col-12 col-sm-6" action="11_zoeken">
                <label for="afdeling">Zoek: </label>
                <input type="text" id="afdeling" name="afdeling">
                <button type="submit">Zoeken</button>
            </form>
        </div>
    </div>
</body>
</html>